 *,
 *:after,
 *:before {
   box-sizing: border-box;
 }

 html {
   line-height: 1;
 }

 html,
 body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background: $white;
   color: $overlay;
   font-family: $ui-font;
   font-size: 10px;
   line-height: 1.4;
   letter-spacing: 3px;
 }

 ::selection {
   background: $primary;
   font-family: $ui-font;
   color: $white;
   text-shadow: none;
 }

 a {
   color: $primary;
   outline: none;
   text-decoration: none !important;
 }

 a:hover,
 a:active,
 a:focus,
 a:visited {
   color: $primary;
 }

 caption,
 th,
 td {
   font-weight: normal;
   text-align: left;
   vertical-align: middle;
 }

 q,
 blockquote {
   quotes: none;
 }

 q:before,
 q:after,
 blockquote:before,
 blockquote:after {
   content: '';
   content: none;
 }

 a img {
   border: none;
 }

 // h tags
 h1,
 h2,
 h3,
 h5,
 h6 {
   font-family: $base-font;
   font-weight: 300;
   margin: 2rem 0 0.5rem;
 }

 h1 {
   font-size: 3rem;
 }

 h2 {
   font-size: 2rem;
 }

 h3,
 h4,
 h5,
 h6 {
   font-size: 1.5rem;
 }


 figure {
   align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 2em 0;
   @include clearfix();

   figcaption {
     color: lighten($black, 50%);
     font-size: 0.85em;
     margin-bottom: 0.5em;
     text-align: center;
     width: 100%;
   }

   img {
     margin-bottom: 10px;
   }

   >a {
     border: none !important;
     display: block;
   }
 }

 img {
   display: block;
   height: auto;
   -ms-interpolation-mode: bicubic;
   image-rendering: optimizeQuality;
   margin: 0 auto;
   max-width: 100%;
   width: auto;
 }

 blockquote {
   border-left: 0.25em solid $grey;
   font-style: italic;
   margin: 2em 1em 2em 0;
   padding: 0 1em;

   cite {
     font-size: 0.85em;
     font-style: italic;

     &:before {
       content: "\2014";
       padding-right: 5px;
     }
   }
 }

 cite {
   font-size: 0.85em;
   font-style: italic;
 }

 dt {
   background-color: darken($white, 5%);
   border: 1px solid darken($white, 7%);
   font-weight: bold;
   padding: 0.5em;
 }

 dd {
   border: 1px solid darken($white, 7%);
   border-top: 0;
   margin: 0 0 2em 0;
   padding: 0.5em 1em;
 }

 table {
   border: 1px solid darken($white, 7%);
   border-collapse: collapse;
   border-spacing: 0;
   margin-bottom: 1em;
   width: 100%;
 }

 thead {
   background-color: darken($white, 5%);
   border-bottom: 1px solid darken($white, 7%);
 }

 tr,
 td {
   border-bottom: 1px solid darken($white, 7%);
 }

 th,
 td {
   border-right: 1px solid darken($white, 7%);
   padding: 0.5em;
   text-align: center;

   a {
     text-decoration: none !important;
   }
 }

 th:first-child,
 td:first-child {
   text-align: left;
 }

 th:last-child,
 td:last-child {
   text-align: right;
 }

 .gist {
   margin-top: 2em;

   tr,
   td {
     border-bottom: 0;
   }

   .gist-data {
     max-height: 30em;
   }
 }

 pre {
   line-height: 1.5;
   margin: 0;
   padding: 1rem;
 }

 p>code,
 a>code,
 li>code,
 figcaption>code,
 td>code {
   background-color: darken($white, 5%);
   border-radius: 2px;
   font-family: $base-font;
   font-size: 0.9em;
   padding: 0.1rem 0.2rem;
 }

 main {
   font-family: $base-font;
 }
 .navmenu-container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap-reverse;
   padding-bottom: 2rem;
 }
 .header{
   padding: 2rem 15% 0 15%;
 }
 #top {
   padding: 0 15% 0 15%;
 }
 #base {
   padding: 0 15% 0 15%;
   min-height: 60vh;
 }
 
footer {
  padding: 2rem 15% 2rem 15%;
  color: darken($primary, 20);
  font-family: $code-font;
  font-size: 1.2rem;
  @include vendor-prefix(user-select, none);
  h4 {
    font-family: $code-font;
  }
}
