input {
  outline: none;
  position: absolute;
  height: 28px;

  color: $dark;
  text-transform: uppercase;
  font-size: 11px;
  font-family: $ui-font;
  letter-spacing: 0.4rem;
  margin-top: 10px;
  // text-transform: uppercase;
  z-index: 10;
  right: calc(12vw + 6rem);
  background: transparent;
}

input[type=text] {
  background: rgba(220, 220, 250, 0.0) url(/assets/images/search.svg) no-repeat 12px center;
  padding: 8px 12px 8px 34px;
  border: none;
  border-radius: 6px;
  width: 16rem;
  color: $dark;
  transition: all .5s;
}

input[type=text]:focus {
  background: rgba(220, 220, 250, 0.2) url(/assets/images/search.svg) no-repeat 8px center;
  border-radius: 6px;
  width: 18rem;
  letter-spacing: 0.1rem;
  text-transform: none !important;

}

#nav {
  position: relative;
  text-align: right;

  a {
    position: relative;
    display: inline-block;
    @include vendor-prefix(user-select, none);
    cursor: pointer;
  }

  li {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    width: 5rem;
    right: 0rem;

    &:before {

      border-radius: 0%;
      bottom: 0;
      content: "";
      height: 5rem;
      left: 0;
      position: absolute;

      right: 0;
      top: 0;
      transition: background-position 0.1s;
      width: 5rem;
      z-index: -1;
    }

    &:hover {
      &:before {
        transition: background-position 0.1s;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {

      display: inline-block;
      padding: 1rem 0 0 0;

      i {
        font-size: 1.8rem;
      }
    }
  }

  label {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    color: darken($white, 40);
    text-transform: uppercase;
    padding-top: 0.3rem;
    @include vendor-prefix(user-select, none);
    cursor: pointer;
  }
}

.logo-nav {
  position: absolute;
  display: block;
  opacity: 1;
  margin: 0 35% 0 35%;
  top: 16px;
  width: 30%;
  z-index: 0;

  img {
    margin: -4px auto;
    width: 2.8rem;
  }

  &:before,
  &:after {
    background: linear-gradient(to right, $primary 0%, $grey 60%, #F6F6F6 100%);
    content: '';
    display: block;
    height: 0.1rem;
    position: absolute;
    top: 0.8rem;
    width: calc(50% - 2.4rem);
  }

  &:after {
    background: linear-gradient(to right, #F7F7F7 0%, $grey 40%, $primary 100%);
    left: auto;
    right: 0;
  }
}
