#top .tags {
    >ul {
        padding: 0 !important;
    }
    >li {
        color: $text;
        display: inline-block;
        font-size: 0.8rem;
        text-transform: uppercase;
        &:hover {
            border: 1px solid $primary;
        }
        >a {
            color: $text;
        }
    }
}

#post {
    time {
        color: darken($text, 10);
        display: block;
        font-size: 12px;
        text-align: right;
        text-transform: uppercase;
    }
    #base {
        .l-break {
            display: block;
            margin: 0 0 4rem 0;
            width: 100%;
            height: auto;
            background-size: 100%;
            opacity: 0.4;
            position: relative;
            text-shadow: none;
            img {
                display: none;
                width: 2.5rem;
            }
            &:before,
            &:after {
                background: linear-gradient(to right, $primary 0%, $text 50%, $primary 100%);
                content: '';
                display: block;
                height: 0.12rem;
                position: absolute;
                top: 0.8rem;
                width: 100%;
            }
        }
    }
}

article {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: $list-item;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    transition: .15s ease-out;
    font-size: 1.3rem;
    padding: 3rem 6rem 3rem 6rem;
    word-wrap: break-word;
    line-height: 24px;
    h1 {
        font-size: 5rem;
        line-height: 3rem;
        letter-spacing: 0.6rem;
    }
    h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: lighten($overlay, 10);
        letter-spacing: 0.2rem;
        strong {
            font-weight: 700;
        }
    }
    p {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 24px;
        color: $text;
        margin-bottom: 1.3em;
        letter-spacing: 1px;
    }
    code {
        font-size: 10px;
    }
    .excerpt-container {
        display: flex;
        flex-direction: row;
    }
    .exerpt-child {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        padding-right: 40px
    }
    small {
        color: darken($text, 40);
        font-size: 1.4rem;
        margin-bottom: 1rem;
        display: block;
    }
    a:not(.btn) {
        color: $primary;
    }
    ul,
    ol {
        padding-left: 0rem;
        >li {
            color: $text;
            font-size: 1.6rem;
            position: relative;
            margin-bottom: 0.8rem;
            &:first-child {
                margin-top: 2rem;
            }
        }
    }
}

.post-title-section {
    display: flex;
    flex-direction: column;
    .section-title {
        align-self: center;
        color: rgba($text, 0.6);
        letter-spacing: 0.4rem;
        font-size: 3.6rem;
        word-wrap: break-word;
    }
    img {
        max-height: 400px;
        padding: 40px;
        padding-top: 0;
    }
    h1 {
        color: rgba($text, 0.6);
        font-size: 3.6rem;
    }
    .tags>li {
        background: none;
        border: 0.1rem solid lighten($primary, 10);
        color: $text;
        font-size: 0.8rem;
        cursor: pointer;
    }
    h3 {
        color: lighten($text, 20);
        display: block;
        text-transform: uppercase;
        font-size: 1.5rem;
        position: relative;
        letter-spacing: 0.4rem;
        &:after {
            background: rgba($text, 0.4);
            content: '';
            display: block;
            height: 0.2rem;
            position: absolute;
            right: 0;
            top: 1.5rem;
            width: calc(100% - 10rem);
        }
        a {
            color: lighten($text, 20);
            &:hover {
                color: $primary;
            }
        }
        em {
            display: inline-block;
            margin: 0 1rem;
        }
        &.reverse {
            margin-top: 4rem;
            text-align: right;
            &:before {
                background: rgba($text, 0.4);
                content: '';
                height: 0.2rem;
                left: 0;
                position: absolute;
                top: 1.5rem;
                width: calc(100% - 20rem);
            }
            &:after {
                display: none;
            }
        }
    }
}

.footer-line {
    float: right;
}

#share {
    margin: 1rem auto 2rem auto;
    width: auto;
    >.btn {
        font-size: 1.2rem;
    }
}

.pager {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    left: 0;
    margin: 0rem;
    text-align: left;
    a {
        background-color: darken($dark, 5%);
        color: darken($text, 10%) !important;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 400;
        margin: 0;
        min-width: 5.5em;
        padding: 0.75em;
        text-align: center;
        transition: all 0.2s linear;
        vertical-align: middle;
        @include vendor-prefix(user-select, none);
        white-space: nowrap;
        &:first-child {
            border-radius: 0.4rem 0 0 0.4rem;
        }
        &:last-child {
            border-radius: 0 0.4rem 0.4rem 0;
        }
        &:hover {
            background-color: $dark-gray;
            color: $text;
        }
        &.disabled {
            background-color: $dark-gray-2;
            color: darken($text, 15%);
            cursor: default;
            &:hover {
                background-color: $dark-gray-2;
                color: darken($text, 15%);
            }
        }
    }
}