#top .tags {
  >ul{
    padding: 0 !important;
  }
  >li {
    color: $dark;
    display: inline-block;
    font-size: 0.8rem;
    text-transform: uppercase;

    &:hover {
      border: 1px solid $primary;
    }

    >a {
      color: $dark;
    }
  }
}

#post {
  time {
    color: darken($white, 100);
    display: block;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
  }

  #base {
    .l-break {
      display: block;
      margin: 0 0 4rem 0;
      width: 100%;
      height: auto;
      background-size: 100%;
      opacity: 0.4;
      position: relative;
      text-shadow: none;

      img {
        display: none;
        width: 2.5rem;
      }

      &:before,
      &:after {
        background: linear-gradient(to right, $primary 0%, $dark 50%, $primary 100%);
        content: '';
        display: block;
        height: 0.12rem;
        position: absolute;
        top: 0.8rem;
        width: 100%;
      }
    }
  }
}
article:hover{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
}
article {
  background: $grey;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  transition: .15s ease-out;
  
  font-size: 1.3rem;
  padding: 3rem 6rem 3rem 6rem;
  word-wrap: break-word;
  line-height: 24px;
  h1 {
    font-size: 5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 0.6rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: lighten($overlay, 10);
    letter-spacing: 0.2rem;

    strong {
      font-weight: 700;
    }
  }

  p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 24px;
    color: rgb(49, 49, 49);
    margin-bottom: 1.3em;
    letter-spacing: 1px;
  }

  code {
    font-size: 10px;
  }

  small {
    color: darken($white, 40);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    display: block;
  }

  a:not(.btn) {
    color: $primary;
  }

  ul,
  ol {
    padding-left: 0rem;

    >li {
      color: #303030;
      font-size: 1.6rem;
      position: relative;
      margin-bottom: 0.8rem;

      &:first-child {
        margin-top: 2rem;
      }
    }
  }
}

.post-title-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  .section-title {
    letter-spacing: 0.4rem;
    font-size: 3.6rem;
    word-wrap: break-word;
  }

  h1 {
    color: rgba($dark, 0.6);
    font-size: 3.6rem;
  }

  .tags>li {
    background: none;
    border: 0.1rem solid $dark;
    color: $dark;
    font-size: 0.8rem;
    cursor: pointer;
  }

  h3 {
    color: lighten($dark, 20);
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    letter-spacing: 0.4rem;

    &:after {
      background: rgba($white, 0.4);
      content: '';
      display: block;
      height: 0.2rem;
      position: absolute;
      right: 0;
      top: 1.5rem;
      width: calc(100% - 10rem);
    }

    a {
      color: lighten($dark, 20);

      &:hover {
        color: $primary;
      }
    }

    em {
      display: inline-block;
      margin: 0 1rem;
    }

    &.reverse {
      margin-top: 4rem;
      text-align: right;

      &:before {
        background: rgba($white, 0.4);
        content: '';
        height: 0.2rem;
        left: 0;
        position: absolute;
        top: 1.5rem;
        width: calc(100% - 20rem);
      }

      &:after {
        display: none;
      }
    }
  }
}

.footer-line {
  float: right;
}

#share {
  margin: 1rem auto 2rem auto;
  width: auto;

  >.btn {
    font-size: 1.2rem;
  }
}

.pager {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  left: 0;
  margin: 0rem;
  text-align: left;
  // width: 15r/em;

  a {
    background-color: darken($white, 5%);
    color: darken($white, 40%) !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    min-width: 5.5em;
    padding: 0.75em;
    text-align: center;
    transition: all 0.2s linear;
    vertical-align: middle;
    @include vendor-prefix(user-select, none);
    white-space: nowrap;

    &:first-child {
      border-radius: 0.4rem 0 0 0.4rem;
    }

    &:last-child {
      border-radius: 0 0.4rem 0.4rem 0;
    }

    &:hover {
      background-color: $overlay;
      color: $white !important;
    }

    &.disabled {
      background-color: darken($white, 3%);
      color: darken($white, 15%) !important;
      cursor: default;

      &:hover {
        background-color: darken($white, 3%);
        color: darken($white, 15%) !important;
      }
    }
  }
}
