#post,
#post-list {
  hr {
    border: 0;
    border-bottom: solid 1px #BEC8D3;
    margin: 1rem 4px 1rem 4px;
  }

  #top {
    .logo {
      top: 2rem;
      left: 2rem;
      position: absolute;
      opacity: 1;

      img {
        width: 10rem;
        height: auto;
      }

      &:after {
        display: none;
      }
    }
  }

  #base {
    article {
      border-radius: 4px;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      list-style: none;
      &:last-child {
        border: none;
      }

      h2 {
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
      }

      p {
        font-size: 1.4rem;
        color: #9D9D9D;
        font-weight: 300;
        margin-bottom: 0;
        width: 100%;
      }

      .date {
        color: $dark;
        font-size: 1.3rem;
        padding-top: 1rem;
        text-transform: uppercase;
      }

      .post-title {
        display: inline-block;
        max-width: 75%;
      }

      .tags {
        >li {
          background: transparent;
          color: $dark;
          display: inline-block;
          font-size: 0.8rem;
          text-transform: uppercase;
          padding: 0;
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid $overlay;
          &:hover {
            border: 1px solid $primary;
          }
          >a {
            color: $dark;
          }
        }
      }
    }
  }
}
