#top .tags {
  margin-top: 1rem;

  >li {
    background: transparent;
    color: lighten($black, 28%);
    display: inline-block;
    font-size: 0.8rem;
    margin: 0.4rem 0.1rem 0 0;
    padding: 0.6rem;
    text-transform: uppercase;

    &:hover {
      border: 1px solid $primary;
    }

    >a {
      color: $white;
    }
  }
}

#post {
// #navmenu{display:none}
// #sidemenu{display:block}
  article {
    border: 1px $grey solid;
    padding-top: 3rem;
    margin-top: calc(-15vh ) !important;
    box-shadow: 3px 2px 5px rgba(88,110,117,0.17);
    background-color: #EAEAEA;
  }

  time {
    color: darken($white, 70);
    display: block;
    padding-top: 1rem;
    text-align: right;
    text-transform: uppercase;
  }

  #base {
    .content {
      display: block;
      height: auto;
    }

    .l-break {
      display: block;
      margin: 0 0 4rem 0;
      width: 100%;
      height: auto;
      background-size: 100%;
      opacity: 0.4;
      position: relative;
      text-shadow: none;
      z-index: 2;

      img {
        display: none;
        width: 2.5rem;
      }

      &:before,
      &:after {
        background: linear-gradient(to right, $primary 0%, $dark 50%, $primary 100%);
        content: '';
        display: block;
        height: 0.12rem;
        position: absolute;
        top: 0.8rem;
        width: 100%;
      }
    }
  }
}

article {
  // font-family: $ui-font;
  font-size: 1.3rem;
  position: relative;
  background: #EAEAEA;
  padding: 3rem 6rem 3rem 6rem;
    -ms-word-wrap: break-word;
  word-wrap: break-word;
  // letter-spacing: 0.2rem;
  border: 2px solid #E2E2E2;
  line-height: 24px;

  h1 {
    font-size: 5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 0.6rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: lighten($overlay,10);
    letter-spacing: 0.2rem;

    strong {
      font-weight: 700;
    }
  }

  p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 24px;
    color:  #6F6F6F !important;
    margin-bottom: 1.3em;
    letter-spacing: 1px;
  }
  code{
    font-size: 10px;
  }
  small {
    color: darken($white, 40);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    display: block;
  }

  a:not(.btn) {
    color: $primary;
    border-bottom: 0.1rem dotted $primary;
  }

  ul,
  ol {
    padding-left: 5rem;

    >li {
      color: #303030  ;
      font-size: 1.6rem;
      position: relative;
      margin-bottom: 0.8rem;

      &:first-child {
        margin-top: 2rem;
      }
    }
  }
}

.demo {
  margin-bottom: 5rem;
}

.post-title-section {
  position: absolute;
  width: 100%;
  padding-top: 4rem;
  .section-title {
        letter-spacing: 0.4rem;

    position: relative;
    left: auto;
    bottom: auto;
    font-size: 3.6rem;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  h1 {
    color: rgba($dark, 0.6);
    font-size: 3.6rem;
  }

  .tags>li {
    background: none;
    border: 0.1rem solid rgba($white, 0.4);
    color: $white;
    font-size: 1rem;
    cursor: pointer;
  }

  h3 {
    color: lighten($dark, 20);
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    letter-spacing: 0.4rem;

    &:after {
      background: rgba($white, 0.4);
      content: '';
      display: block;
      height: 0.2rem;
      position: absolute;
      right: 0;
      top: 1.5rem;
      width: calc(100% - 10rem);
    }

    a {
      color: lighten($dark, 20);
      &:hover {
        color: $primary;
      }
    }

    em {
      display: inline-block;
      margin: 0 1rem;
    }

    &.reverse {
      margin-top: 4rem;
      text-align: right;

      &:before {
        background: rgba($white, 0.4);
        content: '';
        height: 0.2rem;
        left: 0;
        position: absolute;
        top: 1.5rem;
        width: calc(100% - 20rem);
      }

      &:after {
        display: none;
      }
    }
  }
}

.footer-line {
  float: right;
  margin-bottom: 5rem;
}

#share {
  margin: 1rem auto 2rem auto;
  width: auto;

  >.btn {
    font-size: 1.2rem;
  }
}

.pager {
  font-size: 1.6rem;
  left: 0;
  margin: 0rem;
  right: auto;
  text-align: left;
  // width: 15r/em;

  a {
    background-color: darken($white, 5%);
    color: darken($white, 40%) !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    min-width: 5.5em;
    padding: 0.75em;
    text-align: center;
    transition: all 0.2s linear;
    vertical-align: middle;
    @include vendor-prefix(user-select, none);
    white-space: nowrap;

    &:first-child {
      border-radius: 0.4rem 0 0 0.4rem;
    }

    &:last-child {
      border-radius: 0 0.4rem 0.4rem 0;
    }

    &:hover {
      background-color: $primary;
      color: $white !important;
    }

    &.disabled {
      background-color: darken($white, 3%);
      color: darken($white, 15%) !important;
      cursor: default;

      &:hover {
        background-color: darken($white, 3%);
        color: darken($white, 15%) !important;
      }
    }
  }
}
