#post,
#post-list {
  hr {
    border: 0;
    border-bottom: solid 1px #BEC8D3;
    margin: 1rem 4px 1rem 4px;
  }

  #top {

    .logo {
      top: 2rem;
      left: 2rem;
      position: absolute;
      opacity: 1;

      img {
        width: 10rem;
        height: auto;
      }

      &:after {
        display: none;
      }
    }
  }



  #base {
    display: inline-block;
    width: 100%;

    a {
      color: #262F40;
      border: 0;
      text-decoration: none;
    }

    article {
      font-size: 1.5rem;
      list-style: none;
      margin-bottom: 1rem;
      margin-top: 1rem;

      &:last-child {
        border: none;
      }

      h2 {
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
      }

      p {
        font-size: 1.4rem;
        color: #9D9D9D;
        font-weight: 300;
        margin-bottom: 0;
        // padding-left: 2%;
        width: 100%;
      }

      .date {
        color: $grey;
        display: inline-block;
        font-size: 1.3rem;
        padding-top: 1rem;
        text-transform: uppercase;
      }

      .post-title {
        display: inline-block;
        max-width: 75%;
      }
      .tags {
        >li {
          background: $grey;
          display: inline-block;
          text-transform: uppercase;
          font-size: 1.2rem;
          >a {
            color: $primary;
          }
        }
      }
    }
  }
}

#post-list {

  article {
    box-shadow: 3px 3px 2px rgba(88, 110, 117, 0.17);
    border-radius: 4px;
  }
}
