$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 7;

#navmenu {
  color: $dark;
  font-size: 13px;
  font-family: $ui-font;
  text-transform: uppercase;
  height: auto;
  width: auto;
  a {
    color: rgba($dark, 0.6);
    font-family: $ui-font;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin: 0 24px 0 24px;
  }

  a:hover {
    color: $dark;
  }

  .social-links {
    a {
      color: rgba($dark, 0.6);
      font-family: $ui-font;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.2rem;
      margin: 0 16px 0 16px;
    }

    .fa-github:hover {
      color: $dark;
    }

    .fa-facebook-messenger:hover {
      color: #0052cc;
    }

    .fa-twitter:hover {
      color: $primary;
    }
  }

}
