$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 7;
#navmenu {
    color: $text;
    font-size: 13px;
    font-family: $ui-font;
    text-transform: uppercase;
    height: auto;
    width: auto;
    a {
        color: rgba($text, 0.6);
        font-family: $ui-font;
        font-weight: 400;
        letter-spacing: 0.2rem;
        margin: 0 24px 0 24px;
    }
    a:first-child {
        margin-left: 0;
    }
    a:hover {
        color: $text;
    }
    .social-links {
        a {
            color: rgba($text, 0.6);
            font-family: $ui-font;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.2rem;
            margin: 0 16px 0 16px;
        }
        .fa-github:hover {
            color: $text;
        }
        .fa-linkedin:hover {
            color: #0052cc;
        }
        .fa-twitter:hover {
            color: $primary;
        }
    }
}