$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 7;

#navmenu {
  color: $dark;
  position: absolute;
  padding: 16px 0 18px calc(15% - 24px);
  font-size: 13px;
  font-family: $ui-font;
  text-transform: uppercase;
  height: auto;
  width: auto;
  z-index: 10;

  a {
    color: rgba($dark, 0.6);
    text-transform: uppercase;
    font-family: $ui-font;
    font-weight: 400;
    letter-spacing: 0.6rem;
    margin: 0 24px 0 24px;
  }

  a:hover {
    color: $dark;
  }

  .social-links {
    a {
      color: rgba($dark, 0.6);
      text-transform: uppercase;
      font-family: $ui-font;
      font-weight: 400;
      font-size: 16px;

      letter-spacing: 0.6rem;
      margin: 0 16px 0 16px;
    }

    .fa-github:hover {
      color: $dark;
    }

    .fa-facebook-messenger:hover {
      color: #0052cc;
    }

    .fa-twitter:hover {
      color: $primary;
    }
  }

}

#sidemenu {
  display: none;
}

#headline {
  position: absolute;
  margin: 13px 15% 13px 15%;
  text-align: left;
  color: $dark;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.6rem;
  font-family: $ui-font;
  font-weight: 200;
  word-wrap: break-word;
  height: auto;

  a {
    margin-right: 24px;
    color: #000309;
  }
}

.window {
  font-size: 24px;
  position: relative;
  display: block;
  width: 100%;
  // height: 56vh;

  height: 46px;

  margin: 0px auto;

  // box-shadow: 0 0 65px 15px rgba(#000, 0.2);
  // border-radius: 3px; // background: transparent;
  .header {
    padding-right: 15%;
    z-index: 10 !important;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 46px !important;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    z-index: 1;

    .burger-container {
      z-index: 11 !important;
      position: absolute;
      display: inline-block;
      right: 15%;
      cursor: pointer;
      transform: rotate(0deg);
      transition: all 0.3s $cubic;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      #burger {
        width: 18px;
        height: 8px;
        color: $dark;
        position: relative;
        display: block;
        margin: -4px auto 0;
        top: 50%;

        .bar {
          width: 100%;
          height: 1px;
          display: block;
          position: relative;
          background: $dark;
          transition: all 0.3s $cubic;
          transition-delay: 0s;

          &.topBar {
            width: 100%;
            transform: translateY(0px) rotate(0deg);
          }

          &.btmBar {
            width: 100%;
            transform: translateY(6px) rotate(0deg);
          }
        }
      }
    }

    .icon {
      position: absolute;
      display: inline-block;
      height: 54px;
      width: auto;
      right: 0;
      margin-right: 10px;
      user-select: none;

      &.icon-bag {
        right: 0;
        top: 0;
        left: auto;
        transform: translateX(0px);
        transition: transform 0.5s $cubic;
        transition-delay: 0.65s;
      }
    }

    ul.menu {
      z-index: -10;
      position: relative;
      padding: 30px 48px 0;
      list-style: none;
      text-align: right;

      li.menu-item {
        margin-top: 5px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;

        @for $i from 1 through $menuItems {
          &:nth-child(#{$i}) {
            transition-delay: #{0.56 - ($i * 0.07)}s;
          }
        }

        a {
          letter-spacing: 0.6rem;

          color: #000309;
          text-transform: uppercase;
          font-size: 16px;
          font-family: $ui-font;
          display: block;
          position: relative;
          color: #000309;
          font-weight: 100;
          text-decoration: none;
          font-size: 18px;
          line-height: 2.35;
          font-weight: 200;
          width: 100%;
        }

        a:hover {
          color: $primary;

        }
      }
    }

    &.menu-opened {
      z-index: 10 !important;
      height: 56vh !important;
      background: $grey;
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.25s;

      .burger-container {
        transform: rotate(90deg);

        #burger {
          .bar {
            transition: all 0.4s $cubic;
            transition-delay: 0.2s;

            &.topBar {
              transform: translateY(4px) rotate(45deg);
            }

            &.mdlBar {
              display: none;
            }

            &.btmBar {
              transform: translateY(3px) rotate(-45deg);
            }
          }
        }
      }

      ul.menu {
        z-index: 10 !important;

        li.menu-item {
          transform: scale(1) translateY(0px);
          opacity: 1;

          @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
              transition-delay: #{0.07 * $i+0.2}s;
            }
          }
        }
      }

      .icon {
        &.icon-bag {
          transform: translateX(75px);
          transition-delay: 0.3s;
        }
      }
    }
  }

  .top-content {
    font-family: $base-font;
    padding: 0 0 0 0;
    top: 0;
    text-align: justify; // width:100vw;
    // max-height: 100%;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    h2 {
      margin-bottom: 0px;
      letter-spacing: 1px;
    }

    img {
      width: 95%;
      position: relative;
      display: block;
      margin: 75px auto 75px;

      &:nth-of-type(2) {
        margin: 75px auto;
      }
    }
  }
}
