.project-list{
 display: flex;
 flex-wrap: wrap;
}
.project-list-item{
	display: flex;
  padding: 0.5em;

  }
.project-list-content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 1em;
  min-width: 60vw;
	max-width: 98vw;
  
	min-height: 50vh;
	max-height: 98vw;

}
