---
layout: projects
title: Projects
permalink: /projects
pageId: projects
toptheme:
theme:
---

{% for project in site.data.projects %}
{% capture title %}{{ project.title | markdownify | remove: "<p>" | remove: "</p>" }}{% endcapture %}
<article>
  <div class="project-info-container">
    {% if project %}
      <div class="project-info">
        <div class="project-title-container">
    <a href="{{ site.baseurl }}{{ project.url }}" class="project-title" title="{{ title | strip_html }}">
      <span>{{ title }}</span>
    </a>
    <span class="date">{{ project.date | date: '%d %b %Y' }}</span>
  </div>
    <p>{{ project.desc | strip_html }}
      <a href="{{ site.baseurl }}{{ project.url }}" title="Read More">&nbsp;→ Read More</a>
    </p>
    <div class="tags">
    {% for tag in project.tags %}
      <li><a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a></li>
    {% unless forloop.last %}
    {% endunless %}
    {% endfor %}
  </div>
      </div>
      <div  class="project-image" >
        {% if project.image %}
             <img src={{project.image}} />
          {% endif %}
      </div>
    {% endif %}
  </div>
</article>
{% endfor %}
