// COLORS
$primary-color: #3cc3c7;
$secondary-color: #00a7cd;

$white-color: #fff;
$bg-color: #0f0f10;
$dark-grey: #333333;
$light-grey: #edebeb;

$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 1.8rem;