<div id="top">
  <div class="top-child">
    <div class="top-content">
      {% if page.contentId %} {% capture top-content %}top/{{ page.contentId }}.html{% endcapture %} {% else %} {% capture top-content %}top/{{ layout.id }}.html{% endcapture %} {% endif %} {% include {{ top-content }} %}
    </div>
  </div>
</div>
<script type="text/javascript">
window.onscroll = function() { mynFunction() };

function mynFunction() {
  if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
    document.getElementById("topbar").style.background = " {% if page.toptheme %} {{ page.toptheme }} {% else %} #E2E2E2 {% endif %}";
    document.getElementById("headline").innerHTML = "{% if page.title %} {{ page.title }} {% else %} {%endif%}";
    document.getElementById("navmenu").style.display = "none";
    document.getElementById("sidemenu").style.display = "block";
    document.getElementById("topbar").style.position = "fixed";

  } else {
    document.getElementById("topbar").style.position = "";
    document.getElementById("topbar").style.background = "";
    document.getElementById("headline").innerHTML = "";
    document.getElementById("navmenu").style.display = "";
    document.getElementById("sidemenu").style.display = "";


  }
}

</script>

<script type="text/javascript">
    (function() {
      var burger = document.querySelector('.burger-container'),
        header = document.querySelector('.header');

      burger.onclick = function() {
        header.classList.toggle('menu-opened');

      }
    }());

</script>
