<div class="footer-social-links">
  <a href="http://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
  <a href="http://twitter.com/{{ site.twitter}}" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="http://m.me/{{ site.messenger }}" title="messenger" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
  <a href="http://linkedin.com/in/{{ site.linkedin}}" title="LinkedIn+" target="_blank"><i class="fab fa-linkedin"></i></a>
</div>
<style type="text/css" media="screen">
  .footer-social-links {
    font-size: 18px;
    text-align: center;
    margin: 0rem;
  }

  .footer-social-links a {
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    position: relative;
    margin: 0 8px 0;
    text-align: center;
    display: inline-block;
    color: rgba(0, 1, 5, 0.5);
    /*        -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);*/
  }

  .footer-social-links a i,
  .footer-social-links a span {
    position: relative;
    top: 2px;
    left: 1px;
  }

  .footer-social-links a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*border: 1px solid rgba(0,1,5,0.5);*/

  }

  .footer-social-links a:hover {
    color: #000309;
    /*border: 1px solid rgba(0,1,5,0.8);*/
  }
</style>
