/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --background-image-light: url("/assets/background-light.png");
  --background-image-dark: url("/assets/background-dark.png");
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, keeps the background fixed while scrolling */
}

.project-card {
  transition: transform 0.3s ease; /* Add a smooth animation to the transform property */
}

.project-card:hover {
  transform: translateY(-5px); /* Move the card up slightly when hovered */
}

body.background-image {
  background-image: var(
    --background-image-light
  ); /* Use light background by default */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body[data-color-mode="dark"].background-image {
  background-image: var(
    --background-image-dark
  ); /* Use dark background for dark mode */
}

.container {
  max-width: 750px; /* Adjust this value as per your preference */
  margin: 0 auto;
  padding: 0 16px; /* Adjust the horizontal padding as needed */
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 160px 24px; /* Adjust the padding as needed */
  pointer-events: none;
}
