<div class="post-title-section">
  <h3 style=" font-family: 'Source Sans Pro',
sans-serif">Posts <em>/</em></h3>
  <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
  <ul class="tags">
    {% for tag in page.tags %}
      <li><a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a></li>
      {% unless forloop.last %}
      {% endunless %}
    {% endfor %}
  </ul>
  <h3 class="reverse" style=" font-family: 'Source Sans Pro',
sans-serif"><a href="{{ site.url}}">Back to posts</a> <em>/</em></h3>
</div>

