
<h1 class="top-section-title" style="text-transform: uppercase;">{{ page.title}}<em> /</em></h1>

<div id="navig">
	<span class="btn dropd">
		<a href="#base">
			<i class="fas fa-arrow-down" aria-hidden="true"></i>
		</a>
	</span>
</div>

<style type="text/css">
	#navig{
		display: none;
   		 position: relative;
   		 /*z-index: ;*/
    	 top: 80%;
   	 	 left: 80%;
		 /*background-color: #C9C9C9;*/
    }
	.dropd{
		font-size: 20px;
		vertical-align: center;
	}
	.btn{
		 background-color: transparent;
		border: 2px dotted #586E96;
	}
	.btn:hover{
		background-color: transparent;
		border: 2px dotted #000309;
		color: #000309;
	}
</style>
