<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="{% if page.mobtheme %} {{ page.mobtheme }} {% else %} #00090C {% endif %}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  {% if page.title %}
    <title>{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
  {% endif %}

  {% include layout/meta-twitter.html %}
  {% include layout/meta-opengraph.html %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicons/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/images/favicons/safari-pinned-tab.svg" color="#00090C">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  {% if page.image %}
  {% capture image %}{{ page.image }}{% endcapture %}
  {% unless image contains 'http://' or image contains 'https://' %}
    {% capture image %}{{ site.baseurl }}{{ image }}{% endcapture %}
  {% endunless %}
  {% assign opacity = '0.5' %}
  {% if page.image-opacity %}
    {% assign opacity = page.image-opacity %}
  {% endif %}
  <style type="text/css">
    .top-child {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url({{ image }}); background-size: cover; background-position-y: center; background-attachment: fixed;
    }
  </style>
  {% endif %}
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
