<div class="header" id="topbar">
  <div class="icon">
    <form action="/search.html" method="get">
      <label for="search-box"></label>
      <input type="text" id="search-box" placeholder="Search" name="query" />
    </form>
  </div>

  <span id="navmenu">
    {% if page.pageId == 'post-list' %}
    <a href="{{ site.url }}"
      ><span class="link__effect"><strong>Blog</strong></span></a
    >{% else %}
    <a href="{{ site.url }}"><span class="link__effect">Blog</span></a
    >{% endif %} {% if page.pageId == 'projects' %} &bull;
    <a href="{{ site.baseurl }}/projects"
      ><span class="link__effect"><strong>Projects</strong></span></a
    >
    {% else %}&bull;
    <a href="{{ site.baseurl }}/projects"
      ><span class="link__effect">Projects</span></a
    >{% endif %} {% if page.pageId == 'about' %}&bull;
    <a href="{{ site.baseurl }}/about"
      ><span class="link__effect"><strong>About</strong></span></a
    >
    {% else %}&bull;
    <a href="{{ site.baseurl }}/about"
      ><span class="link__effect">About</span></a
    >{% endif %}
    <!-- &bull; -->
    <!--
      <a href="http://github.com/{{ site.github }}"><span  class="link__effect">Github</span></a>
    -->
    <span class="social-links">
      <a href="http://github.com/{{ site.github }}"
        ><i class="fab fa-github"></i
      ></a>
      <a href="http://twitter.com/{{ site.twitter }}"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="http://m.me/{{ site.messenger }}"
        ><i class="fab fa-facebook-messenger"></i
      ></a>
    </span>
  </span>

  <span id="headline"></span>
  <div id="sidemenu">
    <div class="burger-container">
      <div id="burger">
        <div class="bar topBar"></div>
        <div class="bar btmBar"></div>
      </div>
    </div>

    <ul class="menu">
      <li class="menu-item">
        <a href="{{ site.url }}"><span class="link__effect">Blog</span></a>
      </li>
      <li class="menu-item">
        <a href="{{ site.baseurl }}/about"
          ><span class="link__effect">About</span></a
        >
      </li>
      <li class="menu-item">
        <a href="{{ site.baseurl }}/projects"
          ><span class="link__effect">Projects</span></a
        >
      </li>
      <li class="menu-item">
        <a href="{{ site.baseurl }}/note"
          ><span class="link__effect">Notebook</span></a
        >
      </li>
      <li class="menu-item">
        <a href="{{ site.baseurl }}/downloads"
          ><span class="link__effect">Downloads</span></a
        >
      </li>
    </ul>
  </div>
</div>
