<div class="header" id="topbar">
  <div class="icon">
    <form autocomplete="off" action="/search.html" method="get">
      <label for="search-box"></label>
      <input autocomplete="off" onfocus="this.value=''" type="text" id="search-box" placeholder="Search"
        name="query" />
    </form>
  </div>

  <span id="navmenu">
    {% if page.pageId == 'post-list' %}
    <a href="/"><span class=""><strong>Blog</strong></span></a>{% else %}
    <a href="/"><span class="">Blog</span></a>{% endif %} {% if
    page.pageId == 'projects' %} &bull;
    <a href="{{ site.baseurl }}/projects"><span class=""><strong>Projects</strong></span></a>
    {% else %}&bull;
    <a href="{{ site.baseurl }}/projects"><span class="">Projects</span></a>{% endif %}

    <span class="social-links">
      <a href="http://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
      <a href="http://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
    </span>
  </span>

  <span id="headline"></span>
  <div id="sidemenu">
    <div class="burger-container">
      <div id="burger">
        <div class="bar topBar"></div>
        <div class="bar btmBar"></div>
      </div>
    </div>

    <ul class="menu">
      <li class="menu-item">
        <a href="{{ site.url }}"><span class="">Blog</span></a>
      </li>
      <li class="menu-item">
        <a href="{{ site.baseurl }}/projects"><span class="">Projects</span></a>
      </li>
    </ul>
  </div>
</div>
