---
layout: compress
---
<!DOCTYPE html>
<html>
{% include layout/head.html %}

<body id="{{ layout.id }}" class="{{ page.pageId }}">
  <main>
    <div class="window">
      {% include layout/sidebar.html %}
      <div class="top-content">
        {% include main.html %}
      </div>
    </div>
    <div id="base">
      <div class="base-child">
        <div class="base-content">
          {{ content }}
          <p id="quotes">
          </p>
          <footer>
            <p>
              <i class="fa fa-copyright" aria-hidden="true"></i>
              {{ site.time | date: '%Y' }} {{ site.author }} | Some rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>

  </main>
  {% include layout/scripts.html %} {% if layout.scripts %} {% assign scripts = layout.scripts %}
  {% endif %} {% if page.scripts %} {% assign scripts = page.scripts %} {% endif %} {% if scripts
  %} {% for script in layout.scripts %}
  <script src="{{ site.baseurl }}{{script}}" defer></script>
  {% endfor %} {% endif %}
</body>

</html>
