---
layout: compress
---
<!DOCTYPE html>
<html>
{% include layout/head.html %}
<body id="{{ layout.id }}" class="{{ page.pageId }}">
  <main class="main-container">
    <div class="header">
       {% include layout/sidebar.html %}
    </div>
    <div id="top">
      {% include main.html %}
    </div>
    <div id="base">
      {{ content }}
    </div>
    <footer>
    <i class="fa fa-copyright" aria-hidden="true"></i>
    {{ site.time | date: '%Y' }} {{ site.author }} | Some rights reserved.
    </footer>
  </main>
  {% include layout/scripts.html %} {% if layout.scripts %} {% assign scripts = layout.scripts %}
  {% endif %} {% if page.scripts %} {% assign scripts = page.scripts %} {% endif %} {% if scripts
  %} {% for script in layout.scripts %}
  <script src="{{ site.baseurl }}{{script}}" defer></script>
  {% endfor %} {% endif %}
</body>

</html>
